html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

nav span {
    display: none;
}

nav {
    position: fixed;
    margin-top: 1em;
    width: 100%;
    z-index: 999;
    background-color: transparent !important;
}

.barmenu {
    z-index: 5;
    display: none;
}

.nav-links {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-weight: 500;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
}

.nav-item {
    margin-left: 4em;
    margin-right: 4em;
}

.landing {
    margin: 0;
    padding: 0;
    background: url('../img/bg/bg.svg') no-repeat;
    background-size: cover;
    background-position-y: -50px;
    height: 100vh;
}

.bio {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    margin-left: 3%;
    width: 100%;
    z-index: 111;
}

.bio p {
    text-align: left;
}

.shortbio {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pp {
    transform: translate(-10%, -10%);
    display: flex;
    z-index: 1;
}

.description {
    height: 100vh;
}

#imgpp {
    transform: translate(36%, 30%);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    box-shadow: 2px 5px 7px #00000052;
}

#radial_big {
    position: absolute;
    height: 18%;
    left: 54%;
    top: 22%;
    z-index: 3;
    opacity: 90%;
}

#radial_small {
    position: absolute;
    height: 8%;
    left: 50%;
    top: 22%;
    opacity: 50%;
}

#ct {
    position: absolute;
    height: 20%;
    top: -5%;
    left: -4%;
    /* opacity: 40%; */
}

#cr {
    position: absolute;
    height: 50%;
    right: 0;
    top: 15%;
}

#bg-box {
    /* position: absolute; */
    height: 400px;
}

#dots {
    position: absolute;
    height: 40%;
    top: 25%;
    left: 10%;
}

#xdots {
    position: absolute;
    height: 18%;
    top: 40%;
    left: 75%;
    opacity: 50%;
}

#lines {
    position: absolute;
    height: 30px;
    top: 40%;
    left: -5%;
}

#poligon_b {
    position: absolute;
    height: 20%;
    top: 55%;
    left: 20%;
    opacity: 40%;
    transform: rotate( 20deg);
}


/* #poligon_top {
    position: absolute;
    height: 15%;
    top: 18%;
    left: 70%;
} */

@media screen and (max-width: 769px) {
    .landing {
        margin: 0;
        padding: 0;
        background: url('../img/bg/bg.svg') no-repeat;
        background-size: cover;
        background-position-y: -50px;
        background-position-x: 15%;
        height: 98vh;
    }
    #imgpp {
        z-index: 1;
        border-radius: 50%;
        width: 45%;
        box-shadow: 2px 5px 7px #00000052;
    }
    .nav-links li i,
    #radial_big,
    #radial_small,
    #cr {
        display: none;
        z-index: 0;
    }
    #poligon_top {
        position: absolute;
        height: 15%;
        top: 18%;
        left: 70%;
        display: none;
    }
    #ct {
        opacity: 50%;
    }
    #poligon_b {
        position: absolute;
        height: 15%;
        bottom: 0;
        transform: translate(0%, 95%);
        left: 20%;
        opacity: 10%;
    }
    #dots {
        position: absolute;
        height: 13%;
        top: 20%;
        left: 54%;
        opacity: 60%;
    }
    #xdots {
        position: absolute;
        height: 18%;
        top: 50%;
        left: 70%;
        opacity: 20%;
    }
    #lines {
        position: absolute;
        height: 30px;
        top: 40%;
        opacity: 60%;
    }
    nav {
        display: flex;
        position: absolute;
        height: 6vh;
        background: #ffffff !important;
        z-index: 2;
        width: 100%;
    }
    nav span {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 1.5em;
        font-weight: bold;
        color: #0053be;
    }
    .barmenu {
        position: absolute;
        z-index: 10;
        height: 100%;
        display: flex;
        margin-right: 1.5em;
        right: 0;
        align-items: center;
        color: #0053be;
        font-size: 1.5em;
    }
    .nav-links {
        margin-bottom: 0;
        position: fixed;
        background: #ffffff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-item {
        margin-bottom: 3em;
        margin-top: 3em;
    }
    body.open {
        overflow-y: hidden;
    }
    .nav-links.open {
        z-index: 5;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 1;
    }
    .nav-links li a {
        font-size: 25px;
        color: #0053be;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.2s;
    }
    li.fade {
        opacity: 100%;
    }
}