html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/* =================== LOADING =================== */

.loader {
    /* position: fixed; */
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
}

.loader>div {
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


/* ================================================ */

nav span {
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 990;
    background-color: transparent;
    color: #fff;
}

nav.scroll-nav {
    background-color: #fff;
    color: black;
    box-shadow: 0px 2px 20px 0px #5c5c5c61;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    background: #fff;
    transform: translateY(0);
    box-shadow: -1px -3px 13px 4px #70707057;
    transition: all 0.3s ease-in-out;
}

.barmenu {
    z-index: 5;
    display: none;
}

.nav-links {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-weight: 500;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

.nav-item {
    margin-left: 4em;
    margin-right: 4em;
}

.landing {
    margin: 0;
    padding: 0;
    background: url('../img/bg/bg.svg') no-repeat;
    background-size: cover;
    background-position-y: -50px;
    height: 100vh;
    width: 100%;
    position: relative;
}

.bio {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    margin-left: 5%;
    width: 100%;
    z-index: 111;
}

.desc {
    padding-top: 1.5em;
    width: 500px;
    height: 180px;
    /* border: 2px solid; */
}

.desc2 {
    width: 500px;
    height: 180px;
    /* border: 2px solid; */
}

.desc p {
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
}

.desc2 p {
    font-size: 20px;
    font-weight: 500;
}

.tagsbio {
    padding: 8px 2em 8px 2em;
    width: 205px;
    background-color: #ffffff;
    color: #2568CE;
    text-align: center;
    box-shadow: 0px 5px 7px 0px #5454542b;
}

.bio h1 {
    font-size: 35px;
    font-weight: 700;
    color: #0053be;
    margin: 10px;
}

.shortbio {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dot-slide {
    margin-left: -5%;
    margin-top: 3em;
}

.dot,
.dot2 {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #C3C3C3;
    border-radius: 50%;
    margin: 0 10px 0 10px;
}

.ds {
    display: flex;
    justify-content: center;
    width: 100px;
}

.dot-active {
    background-color: #0053be;
}

.pp {
    transform: translate(-10%, -10%);
    display: flex;
    z-index: 1;
}

.headinfo {
    text-align: center;
}

.headinfo h3 {
    font-size: 40px;
    font-weight: 700;
}

.eduinfo {
    padding: 5% 0 10% 0;
}

.timeline {
    margin-top: 4em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.picker {
    width: 100%;
    margin-top: -1.7em;
}

.main-pick {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 1.2em solid #2F78DD;
    background-color: #ffffff;
    /* transition: ease-in;
    transition-duration: 0.2s; */
}

.pick-side {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 0.8em solid #144DB6;
    background-color: #ffffff;
    /* transition: ease-out;
    transition-duration: 0.1s; */
}

.desc-timeline {
    margin-top: 6em;
}

.box-show {
    /* border: 2px solid rgb(110, 0, 0); */
    margin-right: 3em;
}

.innerbox-info>.heading1 {
    margin-bottom: 2em;
}

.paragraf-info {
    text-align: justify;
}

.img-box {
    border-radius: 10;
}

.edu-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.box-info {
    padding: 40px;
    width: 45%;
    border-radius: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.skill-info {
    /* height: 140vh; */
    padding: 5% 0px 5% 0px;
    background-color: #1F56C0;
}

.headskill {
    color: #fff;
    text-align: center;
}

.headskill h3 {
    font-size: 40px;
    font-weight: 700;
}

.list-skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-skill {
    padding: 10px 40px 10px 40px;
    color: #000;
    font-weight: 700;
    height: 60px;
    width: 60%;
    background-color: #fff;
    margin-top: 2em;
    justify-content: space-between;
    border-radius: 40px;
}

.catalog {
    width: 140px;
}

.bar-percent {
    width: 60%;
    background-color: #CCCCCC;
    height: 20px;
    border-radius: 30px;
}

.percent {
    background-color: #519CFF;
    height: 20px;
    border-radius: 30px;
}

.project>.container {
    padding: 5% 0 5% 0;
}

.col-md-3 {
    padding: 20px;
    margin: 25px;
    /* min-height: 200; */
}

.img-alt img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 30px;
}

.find-more {
    font-weight: 700 !important;
    font-size: 20px !important;
    height: 100%;
    width: 100%;
    display: flex !important;
    border-radius: 30px !important;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.find-more:hover {
    text-decoration: none !important;
}

.symbol {
    margin-left: 0.5em;
}

.footer {
    height: 30vh;
    padding: 40px 0 40px 0;
    background-color: #01256B;
}

.content-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sosmed a {
    font-size: 30px;
    color: #fff;
    margin: 0 20px 0 20px;
}

.sosmed a:hover {
    color: #519CFF;
}

.foot-note p {
    text-align: center;
    color: #fff;
}


/* =========================================================== */

.contact {
    margin: 0;
    padding: 0;
    background: url('../img/bg/bg.svg') no-repeat;
    background-size: cover;
    background-position-y: -300px;
    height: 100vh;
    width: 100%;
    position: relative;
    border: solid;
}

.contact .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-contact {
    text-align: center;
}

.card-col .form-group {
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-col .form-group input,
.card-col .form-group textarea {
    background: #F3F3F3;
    border-radius: 10px;
    border: 1px solid #707070;
}

.card-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.card-box h4 {
    color: rgb(80, 80, 80);
    font-weight: 700;
    letter-spacing: 4px;
}

.card-box-contain {
    padding: 3em;
    width: 500px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.send {
    margin-top: 10px;
    border-radius: 10px !important;
}


/* =========================================================== */

#imgpp {
    transform: translate(36%, 30%);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    box-shadow: 2px 5px 7px #00000052;
    z-index: 1;
}

#radial_big {
    position: absolute;
    height: 18%;
    left: 54%;
    top: 22%;
    z-index: 3;
    opacity: 90%;
}


/* #navbar {
    transition: top 0.3s;
} */

#radial_small {
    position: absolute;
    height: 8%;
    left: 50%;
    top: 22%;
    opacity: 50%;
}

#ct {
    position: absolute;
    height: 20%;
    top: -5%;
    left: -4%;
    /* opacity: 40%; */
}

#cr {
    position: absolute;
    height: 50%;
    right: 0;
    top: 15%;
}

#bg-box {
    /* position: absolute; */
    height: 400px;
    opacity: 90%;
}

#dots {
    position: absolute;
    height: 40%;
    top: 25%;
    left: 10%;
}

#xdots {
    position: absolute;
    height: 18%;
    top: 40%;
    left: 75%;
    opacity: 50%;
}

#lines {
    position: absolute;
    height: 30px;
    top: 40%;
    left: -5%;
}

#poligon_b {
    position: absolute;
    height: 20%;
    top: 55%;
    left: 20%;
    opacity: 40%;
    transform: rotate( 20deg);
}

#rightPick {
    margin-left: 25%;
}

#leftPick {
    margin-right: 25%;
}


/* 
#pick-side:hover {
    transform: scale(1.4);
} */

#timeline {
    width: 80%;
    height: 20px;
    background-color: #144DB6;
    position: absolute;
    z-index: -1;
    border-radius: 20px;
}

@media screen and (max-width: 769px) {
    .landing {
        margin: 0;
        padding: 0;
        background: url('../img/bg/bg.svg') no-repeat;
        background-size: cover;
        background-position-y: -50px;
        background-position-x: 15%;
        height: 98vh;
    }
    #imgpp {
        z-index: 1;
        border-radius: 50%;
        width: 45%;
        box-shadow: 2px 5px 7px #00000052;
    }
    .nav-links li i,
    #radial_big,
    #radial_small,
    #cr {
        display: none;
        z-index: 0;
    }
    #poligon_top {
        position: absolute;
        height: 15%;
        top: 18%;
        left: 70%;
        display: none;
    }
    #ct {
        opacity: 50%;
    }
    #poligon_b {
        position: absolute;
        height: 15%;
        bottom: 0;
        transform: translate(0%, 95%);
        left: 20%;
        opacity: 10%;
    }
    #dots {
        position: absolute;
        height: 13%;
        top: 20%;
        left: 54%;
        opacity: 60%;
    }
    #xdots {
        position: absolute;
        height: 18%;
        top: 50%;
        left: 70%;
        opacity: 20%;
    }
    #lines {
        position: absolute;
        height: 30px;
        top: 40%;
        opacity: 60%;
    }
    nav {
        display: flex;
        margin: 0;
        position: absolute;
        height: 6vh;
        background: #ffffff !important;
        z-index: 2;
        width: 100%;
    }
    nav span {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 1.5em;
        font-weight: bold;
        color: #0053be;
    }
    .barmenu {
        position: absolute;
        z-index: 10;
        height: 100%;
        display: flex;
        margin-right: 1.5em;
        right: 0;
        align-items: center;
        color: #0053be;
        font-size: 1.5em;
    }
    .nav-links {
        margin-bottom: 0;
        position: fixed;
        background: #ffffff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-item {
        margin-bottom: 3em;
        margin-top: 3em;
    }
    body.open {
        overflow: hidden;
    }
    .nav-links.open {
        z-index: 5;
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 1;
    }
    .nav-links li a {
        font-size: 25px;
        color: #0053be;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.2s;
    }
    li.fade {
        opacity: 100%;
    }
    /* Contact */
    .card-box-contain {
        width: 400px;
    }
}